dist
vendor
packer_cache
output.box
test/alpine3.11/output-virtualbox-iso
.vscode/*.log
main
dist/*
docs-rendered/*
packer-plugin-mondoo
packer-plugin-cnspec
.docs
centos-7-x86_64.vsphere.local.json
examples/*/*/manifests/*
examples/*/*/artifacts/*