name: Build Packer Plugin

## Only trigger tests if source is changing
on:
  push:
    paths:
      - '**.go'
      - '**.mod'
      - 'go.sum'

jobs:
  license-check:
    name: License Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Copywrite
        uses: hashicorp/setup-copywrite@v1.1.2

      - name: Check Header Compliance
        run: copywrite headers --plan

  goreleaser:
    name: GoReleaser
    runs-on: self-hosted
    env:
      RUNNER_TYPE: "self-hosted"
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Unshallow
        run: git fetch --prune --unshallow
      - name: Import environment variables from file
        run: cat ".github/env" >> $GITHUB_ENV
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ">=${{ env.golang-version }}"
          cache: false
      - name: Check go mod
        run: |
          go mod tidy
          git diff --exit-code go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.7.0
        with:
          version: latest
          skip-cache: true

      - name: "Install required tooling"
        if: ${{ env.RUNNER_TYPE != 'self-hosted' }}
        run: |
          # Only use sudo on self-hosted runners
          sudo apt install -y zip
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --snapshot --skip-publish --rm-dist
        env:
          API_VERSION: x5.0
